.portfolio_bg {
    margin: 0;
    padding: 0;
    background-image: url('../../public/assets/images/about/about_portfolio_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
  }
  